<% include ../partials/boilerplate %>


<div class='container' style='background:black;'>
    <% include ../partials/nav %>
    <div class='card'>
        <div class='largePic' style="background-image:url('https://img.pokemondb.net/artwork/<%=data.name%>.jpg');">
        </div>
        <div class='info'>
            <div class='attAndDef' style="color:red; font-size:4vh;">
                <div class='attAndDefPic' style="background-image:url('/images/attack.png');"></div>
                <%=data.attack%>
            </div>
            <div class='nameAndType'>
                <div class='name'><%=data.name%></div>
                <div class='type'>Type:<%=data.type%></div>
            </div>
            <div class='attAndDef' style="color:blue; font-size:4vh;">
                <div class='attAndDefPic' style="background-image:url('/images/defense.png');"></div>
                <%=data.defense%>
            </div>
        </div>
    </div>
    <form method='POST' action='/pokemons/<%= data.id %>?_method=DELETE'>
        <input class='buttons' id='freeBtn' type='submit' value='Free This Pokémon' />
    </form>
</div>

<% include ../partials/end %>