<% include ../partials/boilerplate %>

<div class='container' style="background-image:url('/images/fight.png'); background-position:center;">
    <% include ../partials/nav %>
    <div class='containerPartial'>
        <h2 id='fightText' class='message' style='font-weight:600;'>Fight List</h2>
        <p style='font-weight:600;'>Here are the trainers you can choose to challenge.<br />
           You can click on their trainer card to browse the pokémons they possess.<br />
           Opponent pokémons are randomly selected from your team and challenger's team.<br />
           The better pokémons you own, the higher chance to win the fight! Good luck!</p>
        <div class='usersList'>
            <% for(let i=0;i<users.length;i++){ %>
            <div class='users'>
                <a href='/user/fight/<%=users[i].id%>'  style="color:rgba(<%=Math.floor(Math.random()*255)%>,<%=Math.floor(Math.random()*255)%>,<%=Math.floor(Math.random()*255)%>,1)">
                    <p style="background:#FDF06F; font-size:4vh;">Trainer: <%=users[i].nickname%><p>
                    <p>Pokémon Count: <%=pokemonCount[i].count%></p>
                </a>
            </div>
            <% } %>
        </div>
    </div>
</div>
<% include ../partials/end %>