<% include ../partials/boilerplate %>

<div class='container' style="background-image:url('/images/fight.png'); background-position:center;">
    <% include ../partials/nav %>
    <div class='containerPartial' style='flex-direction:row;'>
        <div class='banner message' style="color:#FF8B8B"></div> 
        <div class='card1 card'>
            <div class='largePic' style="background-image:url('https://img.pokemondb.net/artwork/<%=data.first.name%>.jpg')">
            </div>
            <div class='info'>
                <div class='attAndDef attack' style="color:black; font-size:4vh;">
                    <div class='attAndDefPic' style="background-image:url('/images/attack.png');"></div>
                    <%=data.first.attack%>
                </div>
                <div class='nameAndType'>
                    <div class='name'><%=data.first.name%></div>
                    <div class='type'>Type:<%=data.first.type%></div>
                </div>
                <div class='attAndDef defense' style="color:grey; font-size:4vh;">
                    <div class='attAndDefPic' style="background-image:url('/images/defense.png');"></div>
                    <%=data.first.defense%>
                </div>
            </div>
        </div>
        <div class='vs'></div>
        <div class='card2 card'>
            <div class='largePic' style="background-image:url('https://img.pokemondb.net/artwork/<%=data.second.name%>.jpg')">
            </div>
            <div class='info'>
                <div class='attAndDef attack' style="color:black; font-size:4vh;">
                    <div class='attAndDefPic' style="background-image:url('/images/attack.png');"></div>
                    <%=data.second.attack%>
                </div>
                <div class='nameAndType'>
                    <div class='name'><%=data.second.name%></div>
                    <div class='type'>Type:<%=data.second.type%></div>
                </div>
                <div class='attAndDef defense' style="color:grey; font-size:4vh;">
                    <div class='attAndDefPic' style="background-image:url('/images/defense.png');"></div>
                    <%=data.second.defense%>
                </div>
            </div>
        </div>
        <div class='bet'>
            <!-- <img src='some minus sign'> -->
            <!-- <h3>BET <small>1</small> FOOD</h3> -->
            <!-- <img src='some plus sign'> -->
        </div>
    
    </div>
        <button id='fightBtn' class='buttons'>Fight!</button>
        <script src='/src/jquery.js'></script>
        <script src='/src/result.js'></script>
    
        <form class='return' action='/user'>
        </form>
        <form class='again' action='/user/start/<%= params.id%>'>
        </form>
</div>
<% include ../partials/end %>